<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109312368767-laq028qik4eemn1h05318s5kal208fiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109312368767-laq028qik4eemn1h05318s5kal208fiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDIdrnQZ-hrWq31UOuXUm8-tTt7xhvNdME</string>
	<key>GCM_SENDER_ID</key>
	<string>109312368767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCanapp</string>
	<key>PROJECT_ID</key>
	<string>youcanapp-d8294</string>
	<key>STORAGE_BUCKET</key>
	<string>youcanapp-d8294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109312368767:ios:683a4869774fbcdfe65f4a</string>
	<key>DATABASE_URL</key>
	<string>https://youcanapp-d8294-default-rtdb.firebaseio.com</string>
</dict>
</plist>